/*
 *	General rules
 */

* {
    box-sizing: border-box;
}

html, body {
    font: 1.1em/1.5 $font_stack;
    font-weight: 400;
    color: $primaryTextColor;
    background-color: $primaryColor;
}

a, a:active, a:focus {
    outline: none;
}

p, li {
    font-size: 1em;
}

.main-wrapper {
    width: 90%;
    margin: auto;
}

.inline-list {
    padding-left: 0;
    li {
        display: inline-block;
    }
}

.mobile-visible {
    /* Only for mobile */
    display: none;
}


/*
 *	Nav
 */

#mobile-wrapper {
    display: none;
}


#navbar {
    z-index: 10;
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: fixed;
    background-color: $navbar;
    .col.span_8_of_12 {
        padding: 0;
        margin: 0;
    }
}

nav#main-nav {
    width: 100%;
    top: 0;
    left: 0;
    nav.section-links {
        text-align: center;
        a {
            padding: 10px;
        }
    }
    a {
        @include transition(all $fastTime);
        color: $primaryColor;
        &:link, &:hover, &:active, &:visited {
            text-decoration: none;
        }
        &:hover {
            color: $linkHover;
        }
    }
    #mobile-wrapper {
        a#mobile-nav-btn {
            color: $primaryTextColor;
            font-size: 2.0em;
        }
        ul#mobile-navbar a {
            text-align: left;
        }
    }
}


/*
 *	Sections
 */

main {
    text-align: center;
}
#home {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    span {
        color: $primaryTextColor;
        &.ion-social-linkedin {
            &:hover {
                color: $ioniconLinkedin;
            }
        }
        &.ion-android-person {
            &:hover {
                color: $ioniconPerson;
            }
        }
    }
    #jussi_photo {
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        max-width: 10em;
        height: auto;
    }
    .list_no_padding {
        display: block;
        color: $secondaryTextColor;
        max-width: 1000px;
        text-align: center;
        li {
            display: block;
            color: $primaryTextColor;
            text-align: center;
        }
        padding-left: 0;
        a {
            color: $primaryTextColor;
            font-weight: 600;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    li:not(ul.inline-list li),
    ul:not(ul.inline-list) {
        display: block;
    }
    ul {
        list-style: none;
    }
    .section:nth-of-type(3) {
        padding-top: 100px;
    }
    .col h2:nth-of-type(1),
    .col h2:nth-of-type(2) {
        margin-bottom: 0;
        margin-top: 0;
    }
    h1, h2 {
        display: block;
        text-align: center;
        font-weight: 200;
    }
    h1 {
        font-size: 3em;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    h2 {
        font-size: 1.2em;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    p {
        text-align: center;
    }
    span[class^="ion"] {
        font-size: 2em;
        @include transition(color $fastTime);
    }
    #ext-links {
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(space-around);
      max-width: 200px;
      a {
        z-index: 10;
      }
    }
}

main {
    p, li, ul {
        text-align: justify;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h2, h3, h4 {
        text-align: center;
    }
    & > div:nth-of-type(2n+2) {
        background-color: $altPrimaryColor;
    }
    & > div {
        padding-top: 100px;
        padding-bottom: 100px;
        min-height: 100vh;
    }
    a:link, a:active, a:visited {
        color: #437CC2;
        font-weight: 500;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

h2 {
  span + span {
      padding-left: 10px;
  }
}

#research, #courses, #industry {
    .span_8_of_12 {
        text-align: center;
    }
    ul {
        display: inline-block;
    }
    li {
        text-align: left;
    }
}

#research, #courses {
    h4 {
        margin-bottom: 5px;
    }
}

#papers, #media {
    li {
        padding-bottom: 10px;
    }
}


/*
 *	Media queries
 */

@media screen and (max-width: 1020px) {
    /*	Remove normal navbar and switch to off-canvas menu.
		Styling will be applied only if JS enabled */
    #navbar {
        display: none;
    }
    .js {
        #mobile-wrapper {
            display: inline-block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99;
        }
        #mobile-nav-btn {
            position: relative;
            top: 16px;
            left: 10px;
            @include transition(left $slowTime);
            padding: 20px 20px;
        }
        #mobile-navbar {
            background-color: $mobileNavbar;
            position: relative;
            width: 200px;
            top: -40px;
            left: -200px;
            list-style-type: none;
            @include transition(left $slowTime);
            padding: 20px 20px;
            a {
                display: block;
                color: $primaryColor;
                font-weight: 400;
                font-size: 1.1em;
                padding-top: 10px;
                padding-bottom: 10px;
                @include transition(color $fastTime);
            }
            a:hover, a:active {
                color: #B7B7B7;
            }
        }
    }
    body {
        font-size: 1em;
    }
    .visible {
        & > #mobile-navbar {
            left: 0;
        }
        & > #mobile-nav-btn {
            left: 210px;
        }
    }
    main {
        & > div {
            &:not(#main) {
                padding-top: 35px;
                padding-bottom: 35px;
            }
        }
        p, li, ul {
            text-align: left;
        }
    }
    .mobile-visible {
        display: inline;
    }
}

@media screen and (max-width: 502px) {
    #home {
        .child {
            position: initial;
            @include transform(none !important);
        }
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 1.5em;
        }
    }
    .col {
        padding-left: 10px;
        padding-right: 10px;
    }
    #jussi_photo {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    main > div {
        padding-left: 25px;
        padding-right: 25px;
    }
    #home {
        #jussi_photo {
            max-width: 8em;
            height: auto;
        }
        h1 {
            font-size: 2.2em;
        }
        h2 {
            font-size: 1.2em;
        }
        .list_no_padding {
            font-size: 0.8em;
        }
    }
}
