/* Variable definitions */

$font_stack: 'Raleway', sans-serif;

$primaryColor: #FFF;
$altPrimaryColor: #F0F0F0;

$navbar: rgba(0, 0, 0, 0.7);
$mobileNavbar: rgba(51, 51, 51, 0.8);

$primaryTextColor: #555;
$secondaryTextColor: #A1A1A1;
$linkHover: #828282;

$ioniconLinkedin: #0077B5;
$ioniconPerson: #58AD56;

/* Times */
$fastTime: 0.3s;
$slowTime: 0.6s;
